<html>
<head>
  <title></title>
</head>
<body>

    <div class="about">
      <h1 class="gold">HOW TO USE THIS WEBSITE</h1>
      <h2 class="red">Introduction</h2>
      <p>Hello and welcome to this website! My name is <a href="https://www.linkedin.com/in/nicolesentis/">Nicole Sentis</a> and I am a full-stack web developer with a background in art history and cultural heritage. Late summer 2016 I was accepted to the <a href="https://wegotcoders.com/courses/web-developer-fast-track">We Got Coders’ Ruby on Rails web development bootcamp </a>, where I was trained in full-stack agile web development along with a small cohort of 5 other students. During the last 2 weeks we built a website on our own as the final project of the course to show what we’d learned.</p>
      <p>This website was my final project. It was designed as an accompanying app/website to a museum exhibition, for which the inspiration, images and texts (I had to translate most of them to English) came from <a href="http://www.diplomatmagazine.nl/2016/02/03/the-buddha/">‘The Buddha’ exhibition</a> that was held from 12/02 till 14/08 2016 in <a href="https://www.volkenkunde.nl/en">Museum Volkenkunde</a> (National Museum of Ethnology) in Leiden, The Netherlands. I do not own the copyright to any of these images or texts, and only used them to ‘create’ a hypothetical exhibition, by linking every object and text to a gallery. How closely this resembles the original exhibition, I do not know. The app is meant to show what I can do code-wise and how an exhibition app could improve the visitors’ experience, not trying to steal images and texts to create my own virtual exhibition. For that reason I only used 28 objects to illustrate the aim of the app. It is meant to be a portfolio piece and does not show up when googling for things like ‘Buddha exhibition’.</p>
      <h2 class="red">How to use</h2>
      <p>The app would help visitors find information linked to every Gallery and every object, after having registered. To register, a user would need a registration code (in this case a unique 3-letter code), which hypothetically a visitor would get after buying a ticket. In case you would like to try the app without registering, you could use the following username: <span class="red">guest@hotmail.com</span> and password: <span class="red">password123</span>.</p>
      <p>After clicking ‘explore’, you can then navigate to every one of the seven galleries. Each of the galleries holds the museum texts (or stories as I called them) and thumbnails of the objects linked to those stories, that belong to that gallery. In ‘explore’, you can also click ‘countries’, which will bring you to a map of Asia with markers in the shape of Buddhas, that mark each country where objects from the exhibition are from. This was done with Google maps to show that I can use a simple API. Clicking a marker would bring you to the Country’s page, which shows a short description of Buddhism (a text from Wikipedia) in that country and a list of thumbnails of objects belonging to that country. By clicking on a thumbnail, you would navigate to the page of the Object to find out more about it. </p>
      <p>It is also possible to search directly for an object by going to ‘search’ and typing in the number of the object you are looking for. (This is based on the assumption that in a real exhibition every object has a number.)</p>
      <p>Last but not least, there is also an Admin page, which I built with the RailsAdmin gem. Here only an admin (me) can add, update or delete objects, countries, galleries and stories.</p>
    </div>

</body>
</html>