<html>
<head>
  <title></title>
</head>
<body>

  <div class="body">

    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1 class="gold">THE BUDDHA</h1>
          <h2 class="red">A Life Story and a Source of Inspiration</h2>
          <h3>12 February - 14 August 2016</h3>
          <% unless user_signed_in? %>
            <%= link_to new_user_registration_path do %>
              <p>REGISTER ></p>
            <% end %>
          <% end %>
          <a href="#"><p>BOOK TICKETS ></p></a>
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="assets/buddha-gold.png" class="img-responsive">
        </div>
      </div>
    </div>

    <div class="main">
      <h3 class="red">A JOURNEY ROUND THE WORLD OF BUDDHISM</h3>
      <p>These days, more and more people are meditating. Yoga is hugely popular. We even have what might justifiably be called a ‘mindfulness industry’ in the West.</p>
      <p><span>THE BUDDHA</span>, a new major exhibition focusing on one of the most inspiring figures in world history, will open at Museum Volkenkunde on 12 February. What makes the life story of this spiritual leader so intriguing? How do people perceive and experience Buddhism in the early 21st century? The exhibition explores these and other questions. Join us on a journey round the world of Buddhism, discover all kinds of interesting facts, and experience the unifying power of this global religion.</p>
    </div>

    <div id="hp-jfs-carousel" class="carousel slide" data-ride="carousel">
      <h3 class="red">EXHIBITION HIGHLIGHTS</h3>

      <ol class="carousel-indicators">
        <li data-target="#hp-fs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hp-fs-carousel" data-slide-to="1"></li>
        <li data-target="#hp-fs-carousel" data-slide-to="2"></li>
        <li data-target="#hp-fs-carousel" data-slide-to="3"></li>
        <li data-target="#hp-fs-carousel" data-slide-to="4"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img class="center-block" id="caroussel1" src="/assets/caroussel1.jpg">
        </div>
        <div class="item">
          <img class="center-block" id="caroussel2" src="/assets/caroussel2.jpg">
        </div>
        <div class="item">
          <img class="center-block" id="caroussel3" src="/assets/caroussel3.jpg">
        </div>
        <div class="item">
          <img class="center-block" id="caroussel4" src="/assets/caroussel4.jpg">
        </div>
        <div class="item">
          <img class="center-block" id="caroussel5" src="/assets/caroussel5.jpg">
        </div>
      </div>
    </div>

    <div class="contact-info">
      <div class="row">
        <div class="col col-md-6">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <h3 class="red">Opening times</h3>
          <p>Open Tuesday-Sunday 10.00–17.00</p>
          <p>Last entry 30 minutes before closing</p>
        </div>
        <div class="col col-md-6">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <h3 class="red">Getting here</h3>
          <p>Museum Volkenkunde, </p>
          <p>Steenstraat 1, Leiden, The Netherlands</p>
          <a href="https://www.google.co.uk/maps/place/Museum+Volkenkunde/@52.1633115,4.4802786,17z/data=!3m2!4b1!5s0x47c5c6eeeb2c8195:0x8747f13c81405d30!4m5!3m4!1s0x47c5c6eea0b57703:0x83a108cecdca29d2!8m2!3d52.1633115!4d4.4824673?hl=en">Google Maps</a>
        </div>
      </div>
    </div>

    <div class="iframe_wrapper">
      <iframe width="800" height="450" src="https://www.youtube.com/embed/O4fcrIXwrW8" frameborder="2" allowfullscreen></iframe>
    </div>

  </div>

</body>
</html>