<html>
<head>
  <title></title>
</head>
<body>

  <div class="body">

    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1>THE BUDDHA</h1>
          <h2>A Life Story and a Source of Inspiration</h2>
          <h3>12 February - 14 August 2017</h3>
          <a href="#"><p>REGISTER ></p></a>
          <a href="#"><p>BOOK TICKETS ></p></a>
        </div>
        <div class="col-md-6 col-sm-12"></div>
          <img src="assets/buddha-gold.png">
        </div>
      </div>
    </div>

    <div class="main">
      <h3>A JOURNEY ROUND THE WORLD OF BUDDHISM</h3>
      <p>These days, more and more people are meditating. Yoga is hugely popular. We even have what might justifiably be called a ‘mindfulness industry’ in the West.</p> 
      <p><span>THE BUDDHA</span>, a new major exhibition focusing on one of the most inspiring figures in world history, will open at the World Museum on 12 February. What makes the life story of this spiritual leader so intriguing? How do people perceive and experience Buddhism in the early 21st century? The exhibition explores these and other questions. Join us on a journey round the world of Buddhism, discover all kinds of interesting facts, and experience the unifying power of this global religion.</p>
    </div>

    <div id="hp-jfs-carousel" class="carousel slide" data-ride="carousel">
      <h3>EXHIBITION HIGHLIGHTS</h3>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#hp-fs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hp-fs-carousel" data-slide-to="1"></li>
        <li data-target="#hp-fs-carousel" data-slide-to="2"></li>
        <li data-target="#hp-fs-carousel" data-slide-to="3"></li>
        <li data-target="#hp-fs-carousel" data-slide-to="4"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img class="center-block" id="caroussel1" src="/assets/caroussel1.jpg">
        </div>
        <div class="item">
          <img class="center-block" id="caroussel2" src="/assets/caroussel2.jpg">
        </div>
        <div class="item">
          <img class="center-block" id="caroussel3" src="/assets/caroussel3.jpg">
        </div>
        <div class="item">
          <img class="center-block" id="caroussel4" src="/assets/caroussel4.jpg">
        </div>
        <div class="item">
          <img class="center-block" id="caroussel5" src="/assets/caroussel5.jpg">
        </div>
      </div>
    </div>

    <div class="contact-info">
      <div class="row">
        <div class="col col-md-6">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <h3>Opening times</h3>
          <p>Open daily 10.00–17.30</p>
          <p>Last entry 80 minutes before closing</p>
        </div>
        <div class="col col-md-6">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <h3>Getting here</h3>
          <p>World Museum Hoddesdon, </p>
          <p>Yewlands House, Yewlands, Hoddesdon</p>
          <p>EN11 8BX</p>
        </div>
      </div>
    </div>
    
  </div>

</body>
</html>