@import "font-awesome-sprockets";
@import "font-awesome";
@import 'colours';
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import 'homepage.scss';
@import 'registration.scss';
@import 'galleries.scss';
@import 'artefacts.scss';
@import 'countries.scss';

body {
  font-family: 'Raleway', sans-serif !important;
  p {
    font-size: 16px;
  }
  a {
    color: map-get($colours, gold);
    &:hover {
      color: map-get($colours, monk-red);
      text-decoration: none;
    }
  }
}

main {
  min-height: 700px;
}

.container {
  background-color: map-get($colours, black);
}

header {
  background-color: map-get($colours, black);
  color: map-get($colours, white);
  border: none;
  width: 100%;
  height: 100px;
  #main-logo {
    display: block;
    background: image-url('logo-museum-volkenkunde.png') no-repeat;
    height: 10rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .icon-hamburger, .icon-close {
    display: none;
  }
  ul.menu {
    text-align: right;
    margin-top: 1.4rem;
    padding-left: 0;
  }
  li {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 2rem;
    color: map-get($colours, gold);
    a {
      color: map-get($colours, gold);
    }
    a:hover {
      color: map-get($colours, monk-red);
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    .dropdown-menu {
      left: -10rem;
      background-color: map-get($colours, black);
      .divider {
        display:block;
        margin: 5px 20px !important;
        overflow: hidden;
      }
      a {
        color: map-get($colours, monk-red);
      }
    }
  }
}

footer {
  color: map-get($colours, white);
  background-color: map-get($colours, black);
  width: 100%;
  text-align: right;
  p {
    display: inline-block;
    margin-bottom: 0px;
    padding: 15px;
    span {
      color: map-get($colours, monk-red);
    }
  }
}

.alert-info, .alert-success{
  color: map-get($colours, gold) !important;
  background-color: map-get($colours, light-gold) !important;
  border-color: map-get($colours, light-gold) !important;
  margin-bottom: 0 !important;
  width: 30%;
}

.alert-danger {
  color: map-get($colours, monk-red) !important;
  order-color: map-get($colours, monk-red) !important;
  margin-bottom: 0 !important;
  width: 30%;
}

.gold {
  color: map-get($colours, gold) !important;
}

.red {
  color: map-get($colours, monk-red) !important;
}

.exploreHeight {
  height: 650px;
}

@media screen and (max-width: 991px) {
  .main, .about, .galleries {
    padding: 1rem 5rem;
  }

  header .icon-hamburger, header .icon-close {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 36px;
    z-index: 1;
  }
  .row.header-row {
    margin-right: 15px;
  }
  nav {
    background-color: map-get($colours, gold);
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    top: -450px;
    right: 15px;
    left: 15px;
    ul {
      margin-top: 14px !important;
      li {
        width: 100%;
        text-align: center;
      }
      li a:hover {
        color: white;
      }
      li a {
        color: black;
      }
      .menu-item {
        font-size: 18px;
        padding: 10px;
        list-style: none !important;
      }
    }
  }
  header li .dropdown-menu {
    left: 0;
    li {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 425px) {
  header .icon-hamburger, header .icon-close {
    top: 5px;
    right: 5px;
  }

  header li {
    padding: 0.5rem 0rem;
    .dropdown-menu {
      max-width: 100%;
      li {
        font-size: 18px;
      }
    }
  }

}