// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.galleries {
  padding: 5rem 10rem;
  p {
    color: map-get($colours, white);
  }
}

.buddha-thumbnail2 {
  padding: 2rem;
}

.previous-gallery {
  text-align: left;
  padding: 5rem 10rem;
}

.next-gallery {
  text-align: right;
  padding: 5rem 10rem;
}