// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-color: map-get($colours, black) !important;
  color: map-get($colours, white) !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  p {
    display: inline-block;
    font-size: 18px !important;
    margin-top: 5rem;
    margin-right: 3rem;
    padding: 1rem 2rem;
    border: 1px solid map-get($colours, white);
  }
  a {
    color: map-get($colours, white);
  }
  a:hover {
    color: map-get($colours, gold);
  }
}

.main {
  background-color: map-get($colours, black);
  padding: 5rem 25rem;
  color: map-get($colours, white);
  h3 {
    text-align: center;
    padding-bottom: 2rem;
  }
  p {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    span {
      color: map-get($colours, gold);
    }
    &:last-child {
      margin-bottom: 5rem;
    }
  }
}

.carousel {
  background-color: map-get($colours, black);
  .carousel-indicators {
    bottom: -30px;
  } 
  h3 {
    margin-top: 0;
    margin-bottom: 5rem;
    text-align: center;
  }
}

.contact-info {
  background-color: map-get($colours, black);
  color: map-get($colours, white);
  text-align: center;
  .fa {
    font-size: 40px;
    margin-top: 10rem;
    color: map-get($colours, gold);
  }
  p {
    &:last-child {
      margin-bottom: 10rem;
    }
  }
}

iframe {
  margin: 5rem 16rem;
  text-align: center;
}

.about {
  background-color: map-get($colours, black);
  color: map-get($colours, white);
  padding: 5rem 10rem;
}

.not-found {
  text-align: center;
  h1, p, img {
    padding-bottom: 3rem;
  }
}