.form {
  background-color: map-get($colours, black);
  height: 50rem;
  h2 {
    margin-top: 0;
    padding-top: 5rem;
    padding-left: 5rem;
  }
  p {
    margin-left: 5rem;
    a {
      color: map-get($colours, monk-red);
      &:hover {
        color: map-get($colours, gold);
        text-decoration: none;
      }
    }
  }
  .field {
    padding-left: 5rem;
  }
  .btn {
    margin-left: 5rem;
    margin-bottom: 2rem;
    background-color: map-get($colours, gold);
    border: 2px solid map-get($colours, gold);
    &:hover {
    background-color: map-get($colours, monk-red);
    border: 2px solid map-get($colours, monk-red);
    }
  }
  .checkbox {
    margin-left: 5rem !important;
    margin-bottom: 2rem !important;
    color: map-get($colours, white);
  }
}